@model RFIM_Web.Models.Invoice_Product
@using Microsoft.AspNetCore.Http
@using RFIM_Web.Utils
@using RFIM_Web.ModelView
@using System.Collections.Generic
@{
    ViewData["Title"] = "CreateInvoice";
}

<div class="all-content-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="sparkline12-list">
                <div class="sparkline12-hd">
                    <div class="main-sparkline12-hd">
                        @if (Context.Session.GetInt32("invoiceType") == 1)
                        {
                            <h1>Add Product to Goods Receipt</h1>
                        }
                        else
                        {
                            <h1>Add Product to Goods Issue</h1>
                        }
                    </div>
                </div>
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="all-form-element-inner">
                                    <a asp-action="AddProductList" asp-controller="Invoice" class="btn btn-success" data-toggle="modal" data-target="#modal-product-list">Choose Product</a>
                                </div>
                                <div>
                                    <form asp-action="AddProductInvoice" enctype="multipart/form-data" id="frmCreateInvoice">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="sparkline8-list">
                                                    <div class="sparkline8-hd">
                                                        <div class="main-sparkline8-hd">
                                                            <h1>Product List</h1>
                                                        </div>
                                                    </div>
                                                    <div class="sparkline8-graph">
                                                        <div class="static-table-list">
                                                            <table class="table" border="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Product Id</th>
                                                                        <th>Product Name</th>
                                                                        <th>Category</th>
                                                                        <th>Vendor</th>
                                                                        @if (Context.Session.GetInt32("invoiceType") == 1)
                                                                        {
                                                                            <th>Stock In Quantity (Boxes)</th>
                                                                        }
                                                                        else
                                                                        {
                                                                            <th>On-hand Quantity (Boxes)</th>
                                                                            <th>Stock Out Quantity (Boxes)</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{if (Context.Session.Get<List<ProductExtendAttr>>("listProduct") != null)
                                                                        {
                                                                            List<ProductExtendAttr> listProduct = Context.Session.Get<List<ProductExtendAttr>>("listProduct");
                                                                            foreach (var product in listProduct)
                                                                            {
                                                                                <tr>
                                                                                    <td width="150">
                                                                                        <input asp-for="ProductId" value="@product.ProductId" class="form-control" name="listProduct" readonly />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input asp-for="ProductId" value="@product.ProductName" class="form-control" readonly />
                                                                                    </td>
                                                                                    <td width="200">
                                                                                        <input asp-for="ProductId" value="@product.Category" class="form-control" readonly />
                                                                                    </td>
                                                                                    <td width="100">
                                                                                        <input asp-for="ProductId" value="@product.Vendor" class="form-control" readonly />
                                                                                    </td>
                                                                                    @if (Context.Session.GetInt32("invoiceType") == 1)
                                                                                    {
                                                                                        <td width="100">
                                                                                            <input asp-for="Quantity" name="listQuantity" class="form-control" value="1" min="1" max="9999" />
                                                                                        </td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td width="100">
                                                                                            <input asp-for="ProductId" value="@product.InstockQuantity" class="form-control" readonly />
                                                                                        </td>
                                                                                        <td width="100">
                                                                                            <input asp-for="Quantity" name="listQuantity" class="form-control" value="1" min="1" max="@product.InstockQuantity" />
                                                                                        </td>
                                                                                    }
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            <a class="btn btn-sm btn-primary login-submit-cs" asp-action="InvoiceCancel" asp-controller="Invoice">Cancel</a>
                                                            @if (Context.Session.Get<List<ProductExtendAttr>>("listProduct") == null)
                                                            {
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit" disabled>Finish</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Finish</button>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="modal-product-list" aria-hidden="true" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


