@model RFIM_Web.ModelView.InvoiceDetail

@{
    ViewData["Title"] = "DetailInvoice";
}
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class=row>
            <!-- Single pro tab End-->
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area mt-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sparkline12-list mg-t-15">
                                <div class="sparkline12-hd">
                                    <div class="main-sparkline12-hd">
                                        <h1>Date: @Model.Invoices.Date</h1>
                                        <h1>Type: @Model.Invoices.InvoiceType.InvoiceTypes</h1>
                                        @*<h1>Created by: @Model.Invoices.User.Username</h1>*@
                                        <h1>Description: @Model.Invoices.Description</h1>
                                    </div>
                                </div>
                                <div class="sparkline12-graph">
                                    <div class="static-table-list">
                                        <table class="table hover-table">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var productList in Model.productList)
                                                {
                                                    <tr>

                                                        <td>@productList.ProductName</td>
                                                        <td>@productList.Quantity</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>