@model RFIM_Web.ModelView.InvoiceDetail

<div class="modal-header">
    <a class="close" datadismiss="modal-user" asp-action="BackToInvoiceList" asp-controller="Invoice">&times;</a>
    <h4 class="modal-title">Detail Invoice @Model.Invoices.InvoiceId</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h4>Date: @Model.Invoices.Date</h4>
                                <h4>Type: @Model.Invoices.InvoiceType.InvoiceTypes</h4>
                                @if (Model.Invoices.InvoiceStatus.Status == "Pending")
                                {
                                    <h4 style="color:red">Status: @Model.Invoices.InvoiceStatus.Status</h4>
                                }
                                else if (Model.Invoices.InvoiceStatus.Status == "Processing")
                                {
                                    <h4 style="color:orange">Status: @Model.Invoices.InvoiceStatus.Status</h4>
                                }
                                else
                                {
                                    <h4 style="color:green">Status: @Model.Invoices.InvoiceStatus.Status</h4>
                                }
                                <h4>Description: @Model.Invoices.Description</h4>
                                @using Microsoft.AspNetCore.Http
                            </div>
                        </div>
                        <br />
                        <div class="sparkline13-graph">
                            <div class="sparkline8-graph">
                                <div class="static-table-list">
                                    <h4>Product List</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ProductID</th>
                                                <th>Product Name</th>
                                                <th>Category</th>
                                                <th>Vendor</th>
                                                <th>Quantity Per Box</th>
                                                <th>Quantity(Boxes)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var productList in Model.productList)
                                            {
                                            <tr>
                                                <td>@productList.ProductId</td>
                                                <td>@productList.ProductName</td>
                                                <td>@productList.Category</td>
                                                <td>@productList.Vendor</td>
                                                <td>@productList.QuantityperBox</td>
                                                <td>@productList.Quantity</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

