@model IEnumerable<RFIM_Web.Models.Invoice>
@{
    ViewData["Title"] = "ListAllIssue";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Pending Goods Issues</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateInvoice" asp-controller="Invoice" class="btn btn-success">Create</a>
                                <a asp-action="EditPrefix" asp-controller="Invoice" class="btn btn-info">Edit Issue Prefix</a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true">
                                    <thead>
                                        <tr>
                                            <th>Issue ID</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Created by</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var invoice in Model)
                                        {
                                        <tr>

                                            <td><a asp-action="DetailInvoice" asp-controller="Invoice" asp-route-id="@invoice.InvoiceId" data-toggle="modal" data-target="#modal-invoice-detail">@invoice.InvoiceId</a></td>
                                            <td>@invoice.Date</td>
                                            <td>@invoice.InvoiceStatus.Status</td>
                                            <td>@invoice.User.Username</td>
                                            <td>
                                                <a asp-action="DeleteInvoice" asp-controller="Invoice" asp-route-id="@invoice.InvoiceId" class="btn btn-danger" data-toggle="modal" data-target="#modal-invoice-delete">
                                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                                </a>
                                                <a asp-action="UpdateInvoice" asp-controller="Invoice" asp-route-id="@invoice.InvoiceId" class="btn btn-success"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-invoice-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-invoice-detail" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
 $(function () {
    $("#modal-invoice-delete").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
     });
     $("#modal-invoice-detail").on('hidden.bs.modal', function () {
         $(this).removeData('bs.modal');
     });
 });
    </script>
}


