@model IEnumerable<RFIM_Web.ModelView.ListUserView>

@{
    ViewData["Title"] = "ListAllUser";
}
<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>User List</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateUser" asp-controller="Admin" class="btn btn-success">Create User</a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true" data-show-export="true">
                                    <thead>
                                        <tr>
                                            <th>Fullname</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>@user.Fullname</td>
                                                <td>@user.Username</td>
                                                <td>@user.Password</td>
                                                <td>@user.Email</td>
                                                <td>@user.Phone</td>
                                                <td>@user.Role</td>
                                                <td>
                                                    @if (user.Status)
                                                    {
                                                        <a asp-action="DeactiveUser" asp-controller="Admin" class="btn btn-success">Active</a>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-warning">Disabled</button>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-action="EditUser" asp-controller="Admin" asp-route-id="@user.UserId" class="pd-setting-ed"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                                    <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.UserId" class="pd-setting-ed" data-toggle="modal" data-target="#modal-user-delete">
                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-user-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-user" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
 $(function () {
    $("#modal-user-delete").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
    });
 });
    </script>
}