@model IEnumerable<RFIM_Web.Models.Category>
@{
    ViewData["Title"] = "ListAllCategory";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Category List</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateCategory" asp-controller="Category" class="btn btn-success">Create Category</a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var category in Model)
                                        {
                                        <tr>
                                            <td>@category.CategoryName</td>
                                            <td>@category.Description</td>
                                            <td>
                                                @if (category.Status)
                                                {
                                                    <p>Active</p>
                                                }
                                                else
                                                {
                                                    <p>Deactive</p>
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="EditCategory" asp-controller="Category" asp-route-id="@category.CategoryId" class="btn btn-success"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                                @if (category.Status)
                                                {
                                                    <a asp-action="DeleteCategory" asp-controller="Category" asp-route-id="@category.CategoryId" class="btn btn-danger" data-toggle="modal" data-target="#modal-category-delete">
                                                        <i class="fas fa-ban" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-action="ActiveCategory" asp-controller="Category" asp-route-id="@category.CategoryId" class="btn btn-success" data-toggle="modal" data-target="#modal-category-active">
                                                        <i class="fas fa-check" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-category-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-category-active" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-category-deactive" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
 $(function () {
    $("#modal-category-delete").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
     });
     $("#modal-category-active").on('hidden.bs.modal', function () {
         $(this).removeData('bs.modal');
     });
     $("#modal-category-deactive").on('hidden.bs.modal', function () {
         $(this).removeData('bs.modal');
     });
 });
    </script>
}

