@model IEnumerable<RFIM_Web.Models.Shelf>
@{
    ViewData["Title"] = "ListAllShelf";
}
<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Shelf List</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateShelf" asp-controller="Shelf" class="btn btn-success">Create Shelf</a>
                                <a asp-action="EditShelfSize" asp-controller="Shelf" asp-route-id="1" class="btn btn-primary">Standard Shelf Size <i class="fas fa-eye"></i></a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true">
                                    <thead>
                                        <tr>
                                            <th>Shelf Id</th>
                                            <th>Description</th>
                                            <th>Floor Number</th>
                                            <th>Cell Number</th>
                                            <th>Height(cm)</th>
                                            <th>Width(cm)</th>
                                            <th>Length(cm)</th>
                                            <th>Status</th>
                                            <th>State</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var shelf in Model)
                                        {
                                        <tr>
                                            <td><a asp-action="ShowCell" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" data-toggle="modal" data-target="#modal-cell">@shelf.ShelfId</a></td>
                                            <td>@shelf.Description</td>
                                            <td>@shelf.FloorNumber</td>
                                            <td>@shelf.CellNumber</td>
                                            <td>@shelf.Height</td>
                                            <td>@shelf.Width</td>
                                            <td>@shelf.Length</td>
                                            <td>
                                                @if (shelf.Status)
                                                {
                                                    <p>Active</p>
                                                }
                                                else
                                                {
                                                    <p>Deactive</p>
                                                }
                                            </td>
                                            @await Component.InvokeAsync("PackageInShelf", new { shelfId = shelf.ShelfId })
                                            <td>
                                                <a asp-action="EditShelf" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" class="btn btn-success"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                                @if (shelf.Status)
                                                {
                                                    <a asp-action="DeactiveShelf" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" class="btn btn-danger" data-toggle="modal" data-target="#modal-shelf-deactive">
                                                        <i class="fas fa-ban" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-action="ActiveShelf" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" class="btn btn-success" data-toggle="modal" data-target="#modal-shelf-active">
                                                        <i class="fas fa-check" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-shelf-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-shelf-deactive" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-shelf-active" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-cell" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#modal-shelf-delete").on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $("#modal-cell").on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $("#modal-shelf-deactive").on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $("#modal-shelf-active").on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
        });
    </script>
}

