@model IEnumerable<RFIM_Web.Models.Shelf>
@{
    ViewData["Title"] = "ListAllShelf";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Shelf List</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateShelf" asp-controller="Shelf" class="btn btn-success">Create Shelf</a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true" data-show-export="true">
                                    <thead>
                                        <tr>
                                            <th>Shelf Id</th>
                                            <th>Description</th>
                                            <th>Floor Number</th>
                                            <th>Cell Number</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var shelf in Model)
                                        {
                                            <tr>
                                                <td>@shelf.ShelfId</td>
                                                <td>@shelf.Description</td>
                                                <td>@shelf.FloorNumber</td>
                                                <td>@shelf.CellNumber</td>
                                                <td>
                                                    <a asp-action="EditShelf" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" class="pd-setting-ed"><i class="fas fa-edit" aria-hidden="true"></i></a>
                                                    <a asp-action="DeleteShelf" asp-controller="Shelf" asp-route-id="@shelf.ShelfId" class="pd-setting-ed" data-toggle="modal" data-target="#modal-shelf-delete">
                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                    </a>


                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-shelf-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-shelf" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
 $(function () {
    $("#modal-shelf-delete").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
    });
 });
    </script>
}

