@model IEnumerable<RFIM_Web.ModelView.FullStockTakeHistory>
@{
    ViewData["Title"] = "ListAllStocktake";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Stocktake History</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true">
                                    <thead>
                                        <tr>
                                            <th>Stocktake ID</th>
                                            <th>Date</th>
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Taken by</th>
                                            <th>Status</th>
                                            <th>StocktakeQuantity</th>
                                            <th>AvailableQuantity</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var stocktakeHistory in Model)
                                        {
                                            <tr>

                                                <td>@stocktakeHistory.StocktakeHistoryId</td>
                                                <td>@stocktakeHistory.Date</td>
                                                <td>@stocktakeHistory.ProductId</td>
                                                <td>@stocktakeHistory.ProductName</td>
                                                <td>@stocktakeHistory.UserName</td>
                                                @if (stocktakeHistory.Status == true)
                                                {
                                                    <td>Pending</td>
                                                }
                                                else
                                                {
                                                    <td>Done</td>
                                                }
                                                @if (stocktakeHistory.AvailableQuantity == stocktakeHistory.StocktakeQuantity)
                                                {
                                                    <td style="color:green">@stocktakeHistory.StocktakeQuantity</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">@stocktakeHistory.StocktakeQuantity</td>
                                                }
                                                <td>@stocktakeHistory.AvailableQuantity</td>
                                                <td>
                                                    @if (stocktakeHistory.Status == true)
                                                    {
                                                    <a asp-action="EditStocktake" asp-controller="Stocktake" asp-route-id="@stocktakeHistory.StocktakeHistoryId" class="pd-setting-ed" data-toggle="modal" data-target="#modal-stocktake-edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="modal-stocktake-edit" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
 $(function () {
     $("modal-stocktake-edit").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
     });
 });
    </script>
}

