@model RFIM_Web.Models.Product

@{
    ViewData["Title"] = "DetailProduct";
}

<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class=row>
            <div class="col-md-3 col-md-3 col-sm-3 col-xs-12 mg-t-15">
                <div class="hpanel responsive-mg-b-30">
                    <div class="panel-body">
                        <input type="text" placeholder="Search..." class="form-control" id="myInput" onkeyup="myFunction()" />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <a class="btn btn-danger btn-block" asp-action="CreateProduct" asp-controller="Product">
                                    <i class="fa fa-plus"></i>
                                    Create
                                </a>
                            </div>
                        </div>
                        <ul class="h-list m-t" id="list_detail">
                            @await Component.InvokeAsync("ProductDetailList")
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="single-product-tab-area mg-t-15 mg-b-30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div id="myTabContent1" class="tab-content">
                                    <div class="product-tab-list tab-pane fade active in" id="single-tab1">
                                        <img src="~/Hinh/product/@Model.Image" alt="" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <div class="single-product-details res-pro-tb">
                                    <h1>@Model.ProductName <a asp-action="EditProduct" asp-controller="Product" asp-route-id="@Model.ProductId"><i class="fas fa-edit"></i></a></h1>
                                    <div class="single-pro-cn">
                                        <h3>OVERVIEW</h3>
                                        <p>
                                            @Model.Description
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Weight</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Weight g</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Height</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Height cm</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Width</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Width cm</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Length</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Lenght cm</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Category</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Category.CategoryName</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <label>Vendor</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <label><b>@Model.Vendor.VendorName</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single pro tab End-->
                <!-- Single pro tab review Start-->

                <div class="single-pro-review-area mt-t-30 mg-b-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="tab-review-design" id="myTab">
                                    <li class="active"><a data-toggle="tab" href="#home">Package<span><i class="fa fa-star"></i></span></a></li>
                                    <li><a data-toggle="tab" href="#menu3">Description</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active review-content-section">
                                        <div class="sparkline8-graph">
                                            <div class="static-table-list">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Package ID</th>
                                                            <th>Cell ID</th>
                                                            <th>Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @await Html.PartialAsync("PackageView", (List<Package>)ViewBag.PackageSelectFromProduct);
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu3" class="tab-pane fade review-content-section">
                                        <h3>Description</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("list_detail");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
<script>

</script>