@{
    ViewData["Title"] = "ImportProduct";
}

<div class="all-content-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="sparkline12-list">
                <div class="sparkline12-hd">
                    <div class="main-sparkline12-hd">
                        <h1>Import Product</h1>
                        <a asp-action="ExampleFile" asp-controller="Product"><i class="fas fa-file-download"></i> Example file</a>
                    </div>
                </div>
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="all-form-element-inner">
                                    <form enctype="multipart/form-data" asp-action="ImportProduct" asp-controller="Product">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group-inner">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class="login2 pull-right pull-right-pro">Upload File*</label>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <input type="file" name="fImport" class="form-control">
                                                    <h6 style="color:#e74c3c">@ViewBag.EmptyFileMessage</h6>
                                                    <h6 style="color:#e74c3c">@ViewBag.ProductNameExist</h6>
                                                    <h6 style="color:#e74c3c">@ViewBag.ProductIdExist</h6>
                                                    <h6 style="color:#e74c3c">@ViewBag.SuccessMessage</h6>
                                                    <h6 style="color:#e74c3c">@ViewBag.WrongType</h6>
                                                    <h6 style="color:#e74c3c">@ViewBag.File</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-inner">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-9">
                                                        <div class="login-horizental cancel-wp pull-left">
                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Confirm</button>
                                                            <a class="btn btn-sm btn-primary login-submit-cs" asp-action="BackToProductList" asp-controller="Product">Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
