@model IEnumerable<RFIM_Web.Models.Product>
@{
    ViewData["Title"] = "ListAllProduct";
}

<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Product List</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <a asp-action="CreateProduct" asp-controller="Product" class="btn btn-success">Create Product</a>
                                <a asp-action="ImportProduct" asp-controller="Product" class="btn btn-primary">Import Product</a>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-toggle="true">
                                    <thead>
                                        <tr>
                                            <th>Product Id</th>
                                            <th>Product Name</th>
                                            <th>Image</th>
                                            <th>Category</th>
                                            <th>Quantity(boxes)</th>
                                            <th>Quantity Per Box(items)</th>
                                            <th>Status</th>
                                            <th>Setting</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model)
                                        {
                                        <tr>
                                            <td><a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@product.ProductId">@product.ProductId</a></td>
                                            <td><a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@product.ProductId">@product.ProductName</a></td>
                                            <td><img src="~/Hinh/product/@product.Image" height="150" width="150" /></td>
                                            <td>@product.Category.CategoryName</td>
                                            @await Component.InvokeAsync("QuantityBoxInProduct", new { productId = product.ProductId })
                                            <td>@product.QuantityPerBox</td>
                                            <td>
                                                @if (product.Status)
                                                {
                                                    <a asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-danger" data-toggle="modal" data-target="#modal-product-delete">Active</a>
                                                }
                                                else
                                                {

                                                    <a asp-action="ActiveProduct" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-success" data-toggle="modal" data-target="#modal-product-active">Deactive</a>
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="EditProduct" asp-controller="Product" asp-route-id="@product.ProductId" class="pd-setting-ed"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                                <div id="modal-product-delete" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-product-active" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div id="modal-product" aria-hidden="true" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
 $(function () {
    $("#modal-product-delete").on('hidden.bs.modal', function () {
       $(this).removeData('bs.modal');
     });
     $("#modal-product-active").on('hidden.bs.modal', function () {
         $(this).removeData('bs.modal');
     });
 });
    </script>
}

